.header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header-main-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-heading {
  font-size: 30px;
  font-weight: bold;
}

.header-cart-name {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-cart-name {
    display: block;
    font-size: 24px;
    font-weight: 600;
  }
}

.header-cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
}

.header-cart-icon {
  width: 30px;
  height: 30px;
  color: gray;
}

.header {
  padding: 10px 20px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 10px 100px;
  }
}

.restaurant-name {
  text-decoration: none;
}

.logout-btn {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: lightblue;
}

.cart-icon-link {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.cart-count-badge {
  background-color: lightcoral;
  padding: 5px 10px;
  border-radius: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-icon-button {
  padding: 0px;
  border: none;
  background-color: transparent;
}

.cart-icon {
  width: 30px;
  height: auto;
}
